@import "tailwindcss";

 /* ===== Poker Base ===== */
body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "inter", sans-serif;


  background: radial-gradient(circle at center, rgba(0,0,0,0.5) 0%, #000 80%),
  url('/pokerfield.png');
  background-size: cover;
  background-position: center;
}

/* ===== Poker Container Position ===== */
.poker-container {
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  backdrop-filter: blur(6px);
}


/* ===== HEADER POSITIONING ===== */
.table-header {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}


/* ===== ACTION ROW POSITIONING ===== */
.action-row {
  position: absolute;
  bottom: 80px;
  left: 70%;
  transform: translateX(-40%);
  display: flex;
  gap: 12px;
}


/* ===== Neon Tittel STYLING ===== */
.poker-title {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 6px;
  text-transform: uppercase;

  color: #ffe9a9;
  text-shadow: 
  0 0 8px #ffdd80,
  0 0 10px #ffcc33,
  0 0 20px #ffb300,
  0 0 40px #ff9900;


  animation: vipGlow 3s infinite alternate ease-in-out;
}


/* ===== TITLE GLOW ===== */
@keyframes vipGlow {
  from {
    text-shadow: 
    0 0 6px #ffdd80,
    0 0 12px #ffcc33,
    0 0 20px #ffb300;
    }
  to {
    text-shadow: 
    0 0 10px #ffe9a9,
    0 0 20px #ffd166,
    0 0 40px #ffb300,
    0 0 80px #ffaa00;
  } 
}


/* ===== START BUTTON STYLING ===== */
.poker-button {
  position: absolute;
  bottom: 80px;
  left: 860px;
  transform: translateX(0%);

  padding: 14px 32px;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background: linear-gradient(135deg, #026b42, #00a85a);
  color: #fff;

  box-shadow: 
  0 0 10px #00ff9d80,
  inset 0 0 8px #009f6680;

  transition: 0.15s ease;
  cursor: pointer;
}


/* ===== START BUTTON HOVER STYLING ===== */
.poker-button:hover {
  transform: scale(1.05);
  box-shadow: 
  0 0 16px #00ff9d,
  inset 0 0 10px #00c77a;
}


/* ===== DEALER BUTTON STYLING ===== */
.dealer-chip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-140%, -120%);

  width: 38px;
  height: 38px;
  border-radius: 50%;

  background: radial-gradient(circel at top, #fff, #ddd);
  color: #111;

  font-weight: 900;
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 
  0 2px 6px rgba(0, 0, 0, 0.8)
  inset 0 0 4px rgba(0, 0, 0, 0.3);
}


/* ===== CARD POSITIONING ON TABLE ===== */
.board-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/* ===== POT STYLING AND TEXT ===== */
.pot-text {
  color: #ffd166;
  font-weight: 700;
}


/* ===== Content Box ===== */
.poker-box {
  position: relative;
  width: 900px;
  height: 520px;

  background: radial-gradient(circle at center, #1c6b4f 0%, #0f3d2e 70%); 
  border-radius: 50%;
  border: 8px solid #111;

  box-shadow:
  inset 0 0 60px rgba(0, 0, 0, 0.6),
  0 20 60px rgba(0, 0, 0, 0.8);
}


/* ===== AI / PLAYER TEXT STYLING ===== */
.ai-action {
  font-size: 1.6rem;
  color: #ffd54f;
  font-weight: bold;
  text-shadow: 0 0 10px #ffbf00;
}


/* ===== PLAYER SEAT ===== */
.you-seat {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}


/* ===== AI SEAT + HAND ROTATION POSITIONING ===== */
.ai-seat {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg) scale(0.95);
  opacity: 0.95;
  pointer-events: none;
}


/* ===== WINNER STYLING ===== */
.winner-box {
  padding-top: 10px;
  border-top: 1px solid #444;
}

.winner {
  font-size: 2.2rem;
  font-weight: 900;
}

.winner.player {
  color: #4caf50;
  text-shadow: 0 0 10px #4caf50aa;
}

.winner.ai {
  color: #e53935;
  text-shadow: 0 0 10px #ff6b6baa;
}

.winner.tie {
  color: #bbb;
}


/* Animation for "deal-in" */
@keyframes deal-in {
  from { 
    opacity: 0;
    transform: translateY(20px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.card-animate {
  animation: deal-in 0.25s ease-out forwards;
}


/* Flip animation when "showdown" */
.card-wrapper {
  perspective: 800px;
}


.card-flip {
  position: relative;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}


.card-flip-flipped {
  transform: rotateY(180deg);
}


.card-face {
  backface-visibility: hidden;
  position: absolute;
  inset: 0;
}